@import "./base/mixins";

.desktop-2-page {
    .hero-section {
        background: linear-gradient(rgb(0 0 0 / 48%), rgb(0 0 0 / 48%)),
            url("../../images/desktop-2/hero-img.png") center/cover no-repeat;
        color: var(--light-cl);
        padding-top: var(--header-total-height);

        .sec-content {
            margin-top: 0.5rem;
            @include flex(flex, center, center, 0, column, nowrap);

            .page-title {
                margin-bottom: 0.7rem;
            }

            .sub-heading {
                font-size: var(--text--sm);
                font-weight: 500;
                letter-spacing: -0.028rem;
                line-height: normal;
                margin-bottom: 2.4rem;
            }

            .search-input {
                background: var(--light-cl);
                border-radius: var(--radius-lg);
                margin-bottom: 15rem;
                padding: var(--sp-3) var(--sp-3) var(--sp-3) var(--sp-5);
                @include flex(flex, center, center, var(--sp-6), row, nowrap);

                input {
                    color: var(--dark-cl);
                    font-size: var(--text-sm);
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: -0.024rem;
                    line-height: normal;
                    width: 30rem;

                    &::placeholder {
                        color: var(--text-color);
                    }
                }
            }
        }
    }

    .delivery-locations {
        background: var(--light-clr-400);
        border: 0.1rem solid var(--light-clr-300);
        border-radius: var(--radius-xl);
        margin-bottom: 8rem;
        margin-top: -8.5rem;
        padding: var(--sp-15);

        .box-title {
            border-bottom: 0.1rem solid var(--dark-cl);
            margin-bottom: var(--sp-4);
            padding-bottom: var(--sp-7);

            .title {
                max-width: 35rem;
            }
        }

        .box-location-info {
            .location {
                margin-bottom: var(--sp-5);
                @include flex(flex, flex-start, center, var(--sp-3), row, wrap);
            }

            .location-info-row {
                --bs-gutter-x: var(--sp-6);
                --bs-gutter-y: var(--sp-6);

                margin-top: 0;

                & > div {
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-top: 0;
                    }
                }

                .location-box {
                    background: var(--light-cl);
                    border: 0.1rem solid var(--light-clr-300);
                    border-radius: var(--radius-lg);
                    padding: var(--sp-5);
                }
            }

            .location-box {
                .location-title {
                    margin-bottom: 0.8rem;
                }

                .location-into {
                    color: var(--dark-cl);
                    font-size: var(--text-sm);
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -0.028rem;
                    line-height: normal;
                    margin-bottom: 0.8rem;
                    @include text-ep(null, 1);
                }

                button {
                    color: var(--primary-cl-500);
                    font-size: var(--text--sm);
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: -0.028rem;
                    text-decoration: underline;
                    transition: var(--ts-fast);

                    &:hover {
                        color: var(--primary-cl-300);
                    }
                }
            }
        }
    }

    .about-fresh-sec {
        margin-bottom: var(--sp-8);

        .sec-title {
            border-bottom: 0.1rem solid var(--dark-cl);
            margin-bottom: var(--sp-6);
            padding-bottom: var(--sp-6);
        }

        .content-img {
            border-radius: var(--radius-xl);
            height: 20rem;
            overflow: hidden;

            img {
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            padding-right: var(--sp-8);

            p {
                color: var(--dark-cl);
                font-size: var(--text-md);
                font-style: normal;
                font-weight: 400;
                letter-spacing: -0.032rem;
                line-height: 150%;
            }
        }
    }
}
